table, td {
            border: 1px solid black; 
            border-collapse: collapse;
}

table {
    width: 100%;
    height: 100vh;
}

#pert {
    background-color: rgb(88, 207, 197);
}

#tot {
    background-color: rgb(244, 83, 78);
}